.container {
  margin-top: 250px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: '100%';
}

.header {
  font-size: 62px;
  color: #22354f;
}

.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  position: relative;
}

.middleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: '100%';
  gap: 60px;
}

.middleListContainer{
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  position: relative;
}

.middleImageStyles{
  position: absolute;
  z-index: 10;
  top: 15px;
  left: -6px;
}

.middleLogoContainer{
  /* background-color: green; */
  /* padding: 0; */
}

.headerTextStyles {
  color: #22354f;
  font-size: 26px;
  font-weight: 700;
}

.imageStlyes {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: -6px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.contentContainerForColumnTwo {
  display: flex;
  flex-direction: column;
}

.cardContentTextStyles {
  color: #798693;
  font-size: 16px;
  line-height: 24px;
}
